<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUSuBAVGft6TNS7oSxr0ksLRCcwm0BEcg</string>
	<key>GCM_SENDER_ID</key>
	<string>297847348415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timePeaceProject</string>
	<key>PROJECT_ID</key>
	<string>time-peace-final-project</string>
	<key>STORAGE_BUCKET</key>
	<string>time-peace-final-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297847348415:ios:6af6a87b6bcc3e5f963a0a</string>
</dict>
</plist>